#pogrubienie_Zienkiewicz
{
font-size:36px;
  color: #E469EA;
}
#pochylona_Zienkiewicz
{
  font-size: 41pt;
  color: #EE9A0E;
}
#index_gorny_Zienkiewicz
{ 
  font-size: 1.6cm;
  color: #103DCE;
}
#index_dolny_Zienkiewicz
{ 
  font-size: 2.7cm;
  color: #4AF2DD;
}
#mono_Zienkiewicz
{ 
  font-size: 46px;
  color: #282BB76;
}
#powiekszenie_Zienkiewicz
{  
color: #989849;
}
#pomniejszenie_Zienkiewicz
{
color: rgb(78%,63%,20%);
}